.runTime,.runDistance,.runSpeed{
  width: 115PX;
  height: 43PX;
  background-image: url('../../images/ready.png');
  background-size: 100% 100%;
  text-align: center;
  line-height: 43PX;
  color: #FFFFFF;
  font-size: 16PX;
}

