.index {
  position: relative;
  display: flex;
  width: 375px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  button::after {
    border: none;
  }

  input {
    outline: none;

    border: none;

    list-style: none;
  }
  .backPic {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    z-index: -1;
  }
  .weatherBox {
    position: absolute;
    width: 139px;
    height: 52.02px;
    left: 29px;
    top: 55px;
    background: url(../../images/index/state.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    flex-direction: column;
    & > view {
      font-weight: 700;

      line-height: 22px;
      letter-spacing: 0.18em;

      color: #ffffff;

      text-shadow: 0px 1px 1px rgba(0, 24, 107, 0.25);
      letter-spacing: 0.18em;
    }
    & > view:nth-child(1) {
      font-size: 16px;
    }
    & > view:nth-child(2) {
      font-size: 12px;
    }
  }
  .sun {
    position: absolute;
    width: 112.11px;
    height: 112.11px;
    background: url(../../images/weather/sun.png);
    background-size: cover;
    top: 20px;
    right: 20px;
  }
  .topBtns {
    margin-top: 140px;
    display: flex;
    width: 325px;
    & > button {
      position: absolute;

      width: 40px;
      height: 54px;
    }
    & > button:nth-child(1) {
      left: 25px;
      background: url(../../images/index/leftTopArrow.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    & > button:nth-child(2) {
      right: 25px;
      background: url(../../images/index/rightTopArrow.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .bottomBtns {
    position: relative;
    margin-top: 180px;
    display: flex;
    width: 325px;
    align-items: center;
    z-index: 10;
    & > button {
      position: absolute;

      width: 35px;
      height: 35px;
    }
    & > button:nth-child(1) {
      left: 85px;
      background: url(../../images/index/leftBottomArrow.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    & > button:nth-child(2) {
      right: 75px;
      background: url(../../images/index/rightBottomArrow.png);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 10;
    }
  }
  .personContent {
    position: absolute;
    left: 121px;
    top: 148px;
    width: 188px;
    height: 347px;

    .man {
      width: 128px;
      height: 327px;
      background: url(../../images/index/man.png);
      background-size: cover;
    }
    .woman {
      width: 128px;
      height: 327px;
      background: url(../../images/index/woman.png);
      background-size: cover;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    .readyBtn {
      width: 146px;
      height: 54.64px;
      background: url(../../images/index/readyBtn.png);
      background-size: cover;
      border: none;
    }
    .down {
      margin-top: 13px;
      display: flex;
      flex-direction: row;
      & > button {
        width: 108.5px;
        height: 40.75px;
      }
      .topBtn {
        background: url(../../images/index/topBtn.png);
        background-size: cover;
      }
      .clothBtn {
        background: url(../../images/index/clothBtn.png);
        background-size: cover;
      }
    }
  }

  .earth_day {
    position: absolute;

    z-index: -1;
    width: 930px;
    height: 930px;
    bottom: -470px;
    transform: translate(-8px);
    background: url(../../images/index/earth1.png);
    background-size: cover;
  }
  .earth_night {
    position: absolute;
    z-index: -1;
    width: 785px;
    height: 785px;
    bottom: -400px;
    // transform: translate(-8px);
    background: url(../../images/index/earth2.png);
    background-size: cover;
  }
  .earth_move {
    animation: rotate 20s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
}
