.run {
    width: 248PX;
    height: 309PX;
    background-color: aqua;
    //background-image: url('../../images/run.png');
    background-position: -110PX 0;
    //animation: run 1s steps(8) infinite;
}
.manRun{
  @extend .run;
  background-image: url('../../images/run.png');
}
.womanRun{
  @extend .run;
  background-image: url('../../images/womanRun.png');
}
.runStart {
  animation: run 0.9s steps(8) infinite;
}
@keyframes run {
  to {
    background-position: -3310PX 0;
  }
}
