.head {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 1px 6px rgba(0, 43, 126, 0.07);
  view {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > button {
      font-size: 18px;

      background-color: #fff;
    }

    .active {
      color: #00a3ff;
    }
    .line {
      width: 50px;
      height: 4px;
      background: #31b5ff;
      opacity: 0.8;
      border-radius: 3.5px;
    }
  }
}
